    .header-container {
    height: 8vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.4s ease;
    flex-direction: row;
    position: fixed;
    top:0;
    justify-content: space-around;
    opacity:0.98;
    z-index: 10000;
    }

    .header-container.light {
    background-color: #f8f9fa;
    color: #222;
    border:1px solid black;
    }

    .header-container.dark {
    background-color: #1e1e2f;
    color: #eee;
    border-bottom:0.5px solid gainsboro;

    }

    .which-mode {
    display: flex;
    gap: 1.2rem;
    padding: 0.8rem 1.4rem;
    border-radius: 40px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.1);
    }

    .icon {
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    color: #888;
    }

    .icon:hover {
    transform: scale(1.1);
    color: #555;
    }

    .span-and-icon a{
      display:flex;
      align-items: center;
    }

.header-container.light a:link,.header-container.light a:visited,.header-container.light a:hover,.header-container.light a:active {
  text-decoration: underline;
  font-weight: 500;
  color: black;
}
.header-container.dark a:link,.header-container.dark a:visited,.header-container.dark a:hover,.header-container.dark a:active {
  text-decoration: underline;
  font-weight: 500;
  color: white;
}

.left-side, .right-side {
    display: flex;
    flex-direction: row;
    gap:2rem;        
}

.contact-icon{
    display:flex;
 
    align-items: center;
    gap:0.4rem;
    font-size: 1.1rem;
    font-weight: 500;
}



@media screen and (max-width:1000px){
  .contact-text{
    display:none;
  }
  .info-text{
    display:none;
  }
  .header-container.light, .header-container.dark{
    border:none;
  }
}